run = "python telegram_perplexity_bot.py"
language = "python3"
entrypoint = "telegram_perplexity_bot.py"
hidden = [".env", ".gitignore", ".git"]

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "$PYTHONPATH:/home/runner/${REPL_SLUG}"

[packager]
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = true
packageSearch = true
guessImports = true 